ul,li{
    list-style-type: none;
    display:inline;
    
}

li,a{
    color:black;
    text-decoration: none;
    padding:30px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    a:hover{background-color:rgb(136, 40, 40);}
}

header,li{
    background-color: rgba(209, 154, 82, 0.8);
    color:black;
    border-radius: 20px;
    padding: 20px;
    /*margin-left: 20px;
    margin-right: 20px;*/
    text-align: center;
}

body{
    background-image:url(a.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.dis1{
    background-color: rgba(248, 245, 245, 0.5);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 60%;
    height:100%;
    margin-left: 30%;
    margin-right: 50%;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.dis1:hover{
    color:rgb(7, 7, 7);
    font-size: large;
    overflow: scroll;
    transform: scale(1.1);
    transition-delay: 1s;
}

.dis2{
    background-color: rgba(248, 245, 245, 0.5);;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 40%;
    height:100%;
    margin-left: 30%;
    margin-right: 50%;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.dis2:hover{
    color:rgb(15, 15, 15);
    font-size: large;
    overflow: scroll;
    transform: scale(1.1);
    transition-delay: 1s;
}

title{
    font-family: cursive;
}

.p1:hover{
    text-decoration: underline;
}